<!DOCTYPE html>
<html lang="fr">
<head>
<title>Subversite</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/inscription_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
</head>
<body ng-app="inscription">

<div class="super_container">


	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
		<div class="top_bar">
			<div class="top_bar_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
								<ul class="top_bar_contact_list">
									<li><div class="question">FAQ ?</div></li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>06-66-99-96-66</div>
									</li>
									<li>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<div>contact@subversite.com</div>
									</li>
								</ul>
								<div class="top_bar_login ml-auto">
									<div class="login_button"><a href="inscription.html">Inscription ou Connexion</a></div>

								</div>
								<div class="top_bar_login ml-auto" ng-controller="disconnect">
									<div class="login_button" ng-click="disconnect()"><a>Déconnexion</a></div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="#">
									<div class="logo_text">Subver<span>site</span></div>
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li><a href="index.html">Accueil</a></li>
									<li><a href="presentation.html">Nous</a></li>
									<li><a href="recherche.html">Recherche</a></li>
									<li><a href="profil.html">Profil</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
								<div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

								<!-- Hamburger -->

								<div class="hamburger menu_mm">
									<i class="fa fa-bars menu_mm" aria-hidden="true"></i>
								</div>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Recherche" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="search">
			<form action="#" class="header_search_form menu_mm">
				<input type="search" class="search_input menu_mm" placeholder="Recherche" required="required">
				<button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="index.html">Accueil</a></li>
				<li class="menu_mm"><a href="presentation.html">Nous</a></li>
				<li class="menu_mm"><a href="recherche.html">Recherche</a></li>
				<li class="menu_mm"><a href="profil.html">Profil</a></li>
				<li class="menu_mm"><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>


	<!-- inscription -->
	<div class="counter">
		<div class="counter_background" style="background-image:url(images/counter_background.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="counter_content" ng-controller="SignIn">
						<h2 class="counter_title">Connexion</h2>
						<div class="counter_text"><p>Pour poster une annonce ou pour y répondre, vous devez vous connecter.</p></div>
						<form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#" ng-submit="submit()">
							<div class="counter_form_title"></div>
								<input ng-model="login" type="text" class="counter_input" placeholder="Login :" required="required">
								<input ng-model="email" type="text" class="counter_input" placeholder="Mail :" required="required">
								<input ng-model="password" type="password" class="counter_input" placeholder="Mot de passe :" required="required">
								<button type="submit" class="counter_form_button">Validez</button>
								<a href="mdpOublie.html">Mot de passe oublié</a>
						</form>
					</div>
				</div>
			</div>

			<div class="counter_form">
				<div class="row fill_height">
					<div class="col fill_height" ng-controller="Register">
						<form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#" ng-submit="submit()">
							<div class="counter_form_title">Inscription</div>
								<input ng-model="login" type="text" class="counter_input" placeholder="Login :" required="required">
								<input ng-model="nom" type="text" class="counter_input" placeholder="Nom :" required="required">
								<input ng-model="prenom" type="text" class="counter_input" placeholder="Prénom :" required="required">
								<input ng-model="email" type="tel" class="counter_input" placeholder="Mail :" required="required">
								<input ng-model="password" type="password" class="counter_input" placeholder="Mot de passe :" required="required">
								<div style="height : 30px; width : 100%;" id="upload_widget_opener">upload</div>
								<button type="submit" class="counter_form_button">Validez</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

		<!-- Footer -->

	<footer class="footer">
		<div class="footer_background" style="background-image:url(images/footer_background.png)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-3 footer_col">
					
								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">Subver<span>site</span></div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Merci de votre visite. N'hésitez pas à parler de nous à vos proches.</p>
									</div>
									<div class="footer_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col">
					
								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title">Contactez nous</div>
									<div class="footer_contact_info">
										<ul>
											<li>Email : contact@subversite.com</li>
											<li>Téléphone :  +(88) 111 555 666</li>
											<li>33 Avenue du Maine, 75015 Paris</li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col">
					
								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Contactez nous</div>
									<div class="footer_links_container">
										<ul>
											<li><a href="index.html">Accueil</a></li>
											<li><a href="presentation.html">Nous</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="recherche.html">Recherche</a></li>
											<li><a href="profil.html">Profil</a></li>
											<li><a href="#">FAQ</a></li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col clearfix">
					
								<!-- Footer links -->
								<div class="footer_section footer_mobile">
									<div class="footer_title">Mobile</div>
									<div class="footer_mobile_content">
										<div class="footer_image"><a href="#"><img src="images/mobile_1.png" alt=""></a></div>
										<div class="footer_image"><a href="#"><img src="images/mobile_2.png" alt=""></a></div>
									</div>
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Design <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://colorlib.com" target="_blank">Subversite</a>
						<div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li><a href="#">Copyright</a></li>
								<li><a href="#">Mentions légales</a></li>
								<li><a href="#">Conditions d'utilisation</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script type="text/javascript">

var avatar = ""
//Upload avatar et recuperation url image
  document.getElementById("upload_widget_opener").addEventListener("click", function() {
    cloudinary.openUploadWidget({ cloud_name: 'difxdkybn', upload_preset: 'gzn8kjgn'}, 
      function(error, result) { 
    	if(error) console.log(error)
    	avatar = result[0]["secure_url"]
    	});
  }, false);
  
var app = angular.module('inscription', []);  
app.controller('SignIn',function ($scope,$http) {
	$scope.submit = function () {
		           // use $.param jQuery function to serialize data from JSON 
		        var data = {}
		     	data['login'] 	= $scope.login;
		        data['email'] = $scope.email;
		     	data['password'] = $scope.password;
		     	console.log(data)
				var config = {headers : {'Content-Type': 'application/json;'} }  	
				
				$http({method: 'POST', url: 'http://localhost:8090/api/user/signin',data,config}).
			        then(function(data, status, headers, config) {
			        	console.log(data)
			        	 $scope.PostDataResponse = data.data;
			        }, function(response) {
				          $scope.PostDataResponse = response.data || 'Request failed';
				          $scope.status = response.status;
			        });
			
				 }
});


app.controller('Register',function ($scope,$http) {
	$scope.submit = function () {
		           // use $.param jQuery function to serialize data from JSON 
		        var data = {}
		     	data['login'] 	= $scope.login;
		        data['email'] = $scope.email;
		     	data['nom'] = $scope.nom;
		     	data['prenom'] = $scope.prenom;
		     	data['password'] = $scope.password;
		     	if (avatar !== ""){
		     		data['avatar'] = avatar;
		     	}else{
		     		data['avatar'] = "https://res.cloudinary.com/difxdkybn/image/upload/v1528362370/upbit0q7au99p7cisef6.jpg"
		     	}
		     	
		     	console.log(data)
				var config = {headers : {'Content-Type': 'application/json;'} }  	
				
				$http({method: 'POST', url: 'http://localhost:8090/api/user/register',data,config}).
			        then(function(data, status, headers, config) {
			        	console.log(data)
			        	 $scope.PostDataResponse = data.data;
			        }, function(response) {
				          $scope.PostDataResponse = response.data || 'Request failed';
				          $scope.status = response.status;
			        });
			
				 }
});

app.controller('disconnect',function ($scope,$http) {
	$scope.disconnect = function(){
		$http({method: 'GET', url: 'http://localhost:8090/api/user/signout'}).
        then(function(response) {
          $scope.status = response.status;
          $scope.user = response.data.obj;
        }, function(response) {
          $scope.data = response.data || 'Request failed';
          $scope.status = response.status;
      });
	}
});
</script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>