 <head>
  <meta charset="utf-8">
  </head>

<div class="courses">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="courses_search_container">
					<div class="home_slider_form_container">
						<form action="#" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">

							<select id="courses_search_select"
								class="courses_search_select courses_search_input"
								ng-model="category">
								<option ng-repeat="type in lisType" value={{type}}>{{type}}</option>
							</select>
							 
							<select id="courses_search_select"
								class="courses_search_select courses_search_input"
								ng-model="local">

								<option ng-repeat="localisation in lisLocalisation"
									value={{localisation}}>{{localisation}}</option>
							</select> 
							
							<select id="courses_search_select"
								class="courses_search_select courses_search_input"
								ng-model="location">

								<option ng-repeat="location in lisLocation" value={{location}}>{{location}}</option>
							</select>
							
							<button class="courses_search_button ml-auto">Recherche</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="courses_search_container">
					<form action="#" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
						<select id="courses_search_select"
							class="courses_search_select courses_search_input"
							ng-model="pieces">
							<option ng-repeat="pieces in lisPieces" value={{pieces}}>{{pieces}}</option>
						</select> 
						
						<select id="courses_search_select"
							class="courses_search_select courses_search_input"
							ng-model="budget">
							<option ng-repeat="budget in lisBudget" value={{budget}}>{{budget}}</option>
						</select> 
						
						<select id="courses_search_select"
							class="courses_search_select courses_search_input"
							ng-model="meubler">
							<option ng-repeat="meubler in lisMeubler" value={{meubler}}>{{meubler}}</option>
						</select> 
						
						<select id="courses_search_select"
							class="courses_search_select courses_search_input"
							ng-model="surface">
							<option ng-repeat="surface in lisSurface" value={{surface}}>{{surface}}</option>
						</select>
						
						<button class="courses_search_button ml-auto">Lancer la recherche</button>
					</form>
				</div>
				<div class="courses_container">
					<div class="row courses_row">

						<!-- Course -->
						<div class="col-lg-6 course_col">
							<div>
								
								<div class="course_body"
									ng-repeat="annonce in annonces | filter:{type:category} | filter:{localisation:local} | filter:{location:location} | filter:{pieces:pieces} | filter:{budget:budget} | filter:{meubler:meubler} | filter:{surface:surface}">
									<h3 class="course_title">
										<a ng-model="annonce.id" href="#!annonce" ng-click="AfficheAnnonce(annonce)">{{annonce.titre}}</a>
									</h3>
									<div class="course">
										<div class="course_image">
											<img src="images/course_4.jpg" alt="">
										</div>
										<div class="course_teacher">{{annonce.localisation}}</div>
											<div class="course_text">
												<p>{{annonce.type}}</p>
												<p>{{annonce.location}}</p>
												<p>{{annonce.pieces}}</p>
												<p>{{annonce.budget}}</p>
												<p>{{annonce.meubler}}</p>
												<p>{{annonce.surface}}</p>
											</div>
									</div>
								</div>
								
							</div>
						</div>


					</div>
				</div>
			</div>

			<!-- Courses Sidebar -->
			<div class="col-lg-4">
				<div class="sidebar">

					<!-- Categories -->
					<div class="sidebar_section">
						<div class="sidebar_section_title">Catégories</div>
						<div class="sidebar_categories">
							<ul>
								<li><a href="#">Appartement</a></li>
								<li><a href="#">Maison</a></li>
								<li><a href="#">Château</a></li>
								<li><a href="#">Maison close</a></li>
								<li><a href="#">Tente Quechua</a></li>
								<li><a href="#">Piscine à boule</a></li>
							</ul>
						</div>
					</div>

					<!-- Latest Course -->
					<div class="sidebar_section">
						<div class="sidebar_section_title">Autres biens
							correspondant à votre recherche</div>
						<div class="sidebar_latest">

							<!-- Latest Course -->
							<div
								class="latest d-flex flex-row align-items-start justify-content-start">
								<div class="latest_image">
									<div>
										<img src="images/maison.jpg" alt="">
									</div>
								</div>
								<div class="latest_content">
									<div class="latest_title">
										<a href="resultat_recherche.html">Maison de rêve avec piscine, spa, terrain de tennis, de football, de pétanque, de handball</a>
									</div>
									<div class="latest_price">10 000 000 €</div>
								</div>
							</div>

							<!-- Latest Course -->
							<div
								class="latest d-flex flex-row align-items-start justify-content-start">
								<div class="latest_image">
									<div>
										<img src="images/appart.jpg" alt="">
									</div>
								</div>
								<div class="latest_content">
									<div class="latest_title">
										<a href="course.html">Bel appart de 2m² en pleine cambrousse</a>
									</div>
									<div class="latest_price">1000 € par mois</div>
								</div>
							</div>

							<!-- Latest Course -->
							<div
								class="latest d-flex flex-row align-items-start justify-content-start">
								<div class="latest_image">
									<div>
										<img src="images/chateau.jpg" alt="">
									</div>
								</div>
								<div class="latest_content">
									<div class="latest_title">
										<a href="resultat_recherche.html">Petit chateau sympa pas trop cher</a>
									</div>
									<div class="latest_price">#tropcherpourtoi</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
